AGENTIC_API_BASE_URL=https://api.agentrouter.to/api/agentic-api
AGENTIC_API_KEY=aak_your_key_here
PORT=3001
FRONTEND_ORIGIN=http://localhost:5173
# AGENTIC_API_BASE_URL=https://api.agentrouter.to/api/agentic-api
# AGENTIC_API_KEY=123aak_akid_b0962e660482745d65b55d83.d3265ceaaa34c8bdc3abe0896ded666f28b23005a1ed178ee107c95ec160dbd7
# PORT=3001
# FRONTEND_ORIGIN=http://localhost:5173
